* {
  box-sizing: border-box;
}
button {
  border: none;
  outline: none;
  padding: 0%;
  cursor: pointer
}
body {
  text-align: center;
  background-color:blanchedalmond;
}
.game {
  display: flex;
  flex-direction: column;
  width: 800px;
  height: 500px;
  margin: auto;
  margin-top: 30px;
  border-radius: 16px;
  background: url(./img/background.png) center/cover;
}
.up {
  display: flex;
  flex-direction: column;
  padding: 20px;
  align-items: center;
}
.up__btn {
  width: 60px;
  height: 60px;
  background-color: wheat;
  border: 2px solid black;
  border-radius: 50%;
  font-size: 24px;
  transition: all 300ms ease-in;
}
.up__btn:hover {
  transform: scale(1.1);
}
.timer {
  width: 80px;
  border: 2px solid black;
  border-radius: 4px;
  font-size: 32px;
  margin-top: 8px;
  background-color: white;
  visibility: hidden;
}
.counter {
  width: 50px;
  height: 50px;
  border: 2px solid black;
  border-radius: 50%;
  font-size: 32px;
  margin-top: 8px;
  background-color: darksalmon;
  color: white;
  visibility: hidden;
}


.dowen {
  width: 100%;
  height: 100%;
  margin-top: 40px;
  position: relative;
}

.popup {
  display: block;
  width: 400px;
  height: 180px;
  background-color: #00000090;
  padding: 20px;
  margin: auto;
  transform: translateY(-150%);
  border-radius: 20px;
}
.popup--hide {
  display: none;
}
.reple {
  width: 60px;
  height: 60px;
  font-size: 24px;
  background-color: wheat;
  border: 2px solid black;
  border-radius: 50%;
}
.description {
  display: block;
  color: white;
  font-size: 40px;
  margin-top: 4px;
}